

<ion-header>
  
  
  <ion-toolbar color="primary">

    <ion-title>Lel Bi3</ion-title>

    <ion-buttons slot="end">
      <ion-button routerLink="/add">
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>


    <ion-buttons slot="start">
      <ion-button (click)="logout()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-margin">
    <ion-item>
      <ion-input (ionInput)="search($event.target.value)" placeholder="Lawej Bel Esm">
      
      </ion-input>
    </ion-item>
    <ion-button class="ion-margin" (click)="presentAlert()" expand="block">
    Filtre
    </ion-button>
  </div>
<ion-list>
  <ion-item button *ngFor="let annonce of annonces" [routerLink]="[annonce.id]">
    <ion-avatar slot="start">
      <img [src]="annonce.pic" alt="Taswira Tchargi...">
    </ion-avatar>
  <ion-label>
    {{annonce.title}}
    <p> {{annonce.date}}  </p>
  </ion-label>
  <ion-badge slot="end"> {{annonce.price}} DT </ion-badge>
  </ion-item>
</ion-list>

<ion-infinite-scroll (ionInfinite)="loadMore($event)">
<ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Haw Echargi...">
</ion-infinite-scroll-content>
</ion-infinite-scroll>
</ion-content>
